body {margin:0; padding:0;text-align:center;font-family:"微软雅黑";font-size:12px;background: #FFF;color:#000;}
h1,h2,h3,h4,h5,h6,form,div,p,i,img,ul,li,ol,table,tr,td,th,fieldset,label,legend,button,input {margin:0;padding:0;}
li {list-style-type:none;}img,
a img {border:0;margin:0;padding:0;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover { text-decoration:none;}
.fl{
	float: left;
}
.fr{
	float: right;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
p{display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
} 
button,input{
	border: none;
} 