<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>童心圆新闻</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0 shrink-to-fit=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="site" content="content site">
  		<meta name="Site" content="content Site">
  		<meta name="title" content="content title">
  		<meta name="Title" content="content Title">
  		<link rel="stylesheet" type="text/css" href="share.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/newspaper.css" />
	</head>

	<body>
		<div class="header">
			<div class="header-wrap">
				<div class="header-left fl">
					<div class="logo-box fl">
						<img src="../static/img/童心圆logo.png" />
					</div>
					<ul class="fl nav">
						<li class="fl">
							<a href="">首页</a>
						</li>
						<li class="fl">
							<a href="">新闻</a>
						</li>
						<li class="fl">
							<a href="">应用</a>
						</li>
						<li class="fl">
							<a href="">计划</a>
						</li>

					</ul>
				</div>
				<ul class="fr login-box">
					<li class="fl">
						<a href="">登录</a>
					</li>
					<li class="fl">
						<a href="">注册</a>
					</li>
				</ul>
				<div class="search fr">
					<a href="" class="icon-search">
						<svg class="icon" id="search-icon" aria-hidden="true">
							<use xlink:href="#icon-fangdajing"></use>
						</svg>
					</a>
					<input type="text" placeholder="搜索项目" id="search" />
					<div class="link">
						<a href="">积翠小学</a>
					</div>
				</div>
			</div>
		</div>

		<h1 class="news_title">“童心圆”留守儿童关爱行动项目获全国青年志愿服务示范项目创建提名奖</h1>
		<div class="top_bar">
			<div class="date_source">
				<span id="date">
						2017年12月03日 &nbsp;18:56:00</span>
				<span id="source_from">&nbsp;&nbsp;&nbsp;&nbsp;来源：太原理工大学校园委</span>

			</div>

		</div>
		<div class="article">
			<div class="image">
				<img src="../static/img/项目大赛.jpg" />

			</div>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;2017年12月3日，第四届中国青年志愿服务项目大赛暨志愿服务交流会在四川成都闭幕。我校“童心圆”留守儿童关爱行动项目荣获全国青年志愿服务示范项目创建提名奖。
			</p>

			<img src="../static/img/奖状.jpg" />
			<img style="margin-left: 10%;" src="../static/img/mmexport1517235085927.jpg" />

			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;本次赛会以“志愿新时代，共筑中国梦”为主题，由共青团中央、中央文明办、民政部、水利部、国家卫生和计划生育委员会、中国残疾人联合会、中国志愿服务联合会等7个中央有关部委和四川省委省政府、成都市委市政府联合举办。大赛旨在为全国优秀志愿服务组织和项目搭建资源配置、项目展示、组织交流、文化引领的交流平台。

			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;迄今为止，全国共有12000多个项目参加各级志愿服务项目大赛，其中由全国评审委员会评出的金奖项目有300个、银奖项目有1200个。此次评选活动是在往届获奖项目范围内优中选优，用更高标准评出120个在项目发展、服务效果、组织管理、示范导向、社会评价方面均有较大提升的示范性项目，未来的一年里，“童心圆”留守儿童关爱行动项目将在共青团中央、中央文明办、民政部、水利部等七个国家部委共同联合支持培育下开展为期一年的创建工作，通过创建验收后将正式获得“全国青年志愿服务示范项目”荣誉称号，真正领跑全国志愿服务工作，传播志愿服务文化。

			</p>
		</div>
		<div class="change_potr">
			<a href="" title="“童心圆”留守儿童公益行动励志体验真人秀">上一篇</a>
			<a href="" title="“童心圆”留守儿童关爱行动项目获全国青年志愿服务项目大赛金奖">下一篇 </a>
		</div>
		<div>
			<a href="crowdfunding.html" class="returnToIndex fl">返回首页>></a>
		</div>
		<div class="share_btn">

<ol>
    <li class="row">
    <div class="social-share" data-sites="weibo,qq,qzone,tencent"></div>
  </li>
    <li class="row">
    <div class="share-component" data-disabled="wechat , facebook, twitter, google"></div>
  </li>
    <li class="row">
    <div class="social-share"></div>
  </li>
    <li class="row">
    <div class="social-share" data-initialized="true"> <a href="#" class="social-share-icon icon-weibo"></a> <a href="#" class="social-share-icon icon-qq"></a> <a href="#" class="social-share-icon icon-qzone"></a> </div>
  </li>
    <li class="row">
    <div class="social-share" data-mode="prepend"> <a href="javascript:" class="social-share-icon icon-heart"></a> </div>
  </li>
    <!--<li class="row">
    <div id="share-1"></div>
  </li>
    <li class="row">
    <div id="share-2"></div>
  </li>
    <li class="row">
    <div id="share-3" data-sites="weibo,qq,qzone,tencent"></div>
  </li>
    <li class="row">
    <div id="share-4" data-disabled="wechat , facebook, twitter, google"></div>
  </li>-->
  </ol>
		</div>
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script> 
		<script src="../static/js/jquery.share.min.js"></script>
		<script src="../static/js/news.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/iconfont.js"></script>
	</body>

</html>