<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>发起人</title>
		<link rel="stylesheet" type="text/css" href="../static/css/initiator.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/learn.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/sinaFaceAndEffec.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/bottom.css" />
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../static/js/scrollReveal.js" type="text/javascript" charset="utf-8"></script>

	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav navbar-right mynavbar">
						<li class="head_portrait">
							<img width="32" height="32" class="img-responsive" src="img/girl.png" />

						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								喵小媛
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="crowdfunding.html">主页</a>
								</li>
								<li>
									<a href="personalcenter.html">个人中心</a>
								</li>
								<!--<li class="divider"></li>-->
								<li>
									<a href="crowdfunding.html">退出登录</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="initiatortitle">
			<img src="../static/img/头像.png" /> <span>发起人</span>
		</div>
		<div class="container">
			<div class="person_love">
				<img class="portrait-1" src="../static/img/发起人（圆）.png" /> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱心值</span> &nbsp;
				<img class="lovevalue" src="../static/img/heart.png" />
				
				<img class="lovevalue" src="../static/img/爱心2.png" />
				<img class="lovevalue" src="../static/img/爱心4.png" />
			</div>
			<div class="intro">
				<h4>简介：</h4>
				
				<p id="intro_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赵永霞，山西省教育厅扶贫队驻村“第一书记”，博士，2015年7月驻方山县积翠乡南阳村担任第一书记。南阳村位置偏僻、环境恶劣，村民生活艰苦、精神贫瘠。驻村以后，落后的村庄、淳朴的乡风、孩子们渴望温暖的眼神深深震撼着她。她暗下决心，一定要尽她所能改变留守儿童的生存现状。她发起成立山西省留守儿童关爱协会，并推出《“童心圆”留守儿童精准帮扶计划》，以“互联网+第一书记+大学生志愿者+心理助困+精准扶贫”为主线，推动研发集亲情陪伴、在线教育、心理援助、公益众筹于一体的网络平台，努力在精神层面去帮助孩子们，给予他们陪伴与自信、关爱和尊重。
				<button  type="button" style="width: 0px;height: 0px; background-color: #002752 ;" onclick="loadXMLDoc()"></button>
				</p>
				
				<a class="fr" href="#" id="liuyan" title="点击给我留言或滑动到页面末尾留言">给我留言</a>
			</div>
			<div class="timecontain">
				<ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime"><span>08-08</span> <span>2017</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" data-scroll-reveal-id="3" style="-webkit-transform: translatex(24px);transform: translatex(24px);opacity: 0;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
							<h2>项目一：书路计划：让孩子们开启阅读</h2>
							<p><span class="blogpic"><a href="/"><img src="../static/images/t03.jpg"></a></span>留守儿童当地的教育匮乏，迫切需要优秀的图书读物，每捐款十元相当于将一本好书送到一位孩子的手上，为他开启阅读之路，实现他们一份小小的梦想。。。</p>
							<a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>08-08</span> <span>2017</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" data-scroll-reveal-id="4" style="-webkit-transform: translatex(24px);transform: translatex(24px);opacity: 0;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
							<h2>项目二：提供奖学金鼓励孩子们读书</h2>
							<p><span class="blogpic"><a href="/"><img src="../static/images/t02.jpg"></a></span>留守儿童家庭条件艰苦，很多家庭无法承担孩子的学业，只要些许的奖学金就能支撑孩子们完成学业，实现他们的读书梦。。。</p>
							<a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>08-08</span> <span>2017</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" data-scroll-reveal-id="5" style="-webkit-transform: translatex(24px);transform: translatex(24px);opacity: 0;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
							<h2>项目三：给留守儿童一顿午饭</h2>
							<p><span class="blogpic"><a href="/"><img src="../static/images/t01.jpg"></a></span>孩子们平时的午饭缺乏营养，为留守儿童捐献一顿午餐，让他们能够补充营养，您的举手之劳将为他们弱小的身躯注入能量。。。</p>
							<a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>08-08</span> <span>2017</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" data-scroll-reveal-id="3" style="-webkit-transform: translatex(24px);transform: translatex(24px);opacity: 0;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
							<h2>项目一：书路计划：让孩子们开启阅读</h2>
							<p><span class="blogpic"><a href="/"><img src="../static/images/t03.jpg"></a></span>留守儿童当地的教育匮乏，迫切需要优秀的图书读物，每捐款十元相当于将一本好书送到一位孩子的手上，为他开启阅读之路，实现他们一份小小的梦想。。。</p>
							<a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>08-08</span> <span>2017</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" data-scroll-reveal-id="4" style="-webkit-transform: translatex(24px);transform: translatex(24px);opacity: 0;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
							<h2>项目二：提供奖学金鼓励孩子们读书</h2>
							<p><span class="blogpic"><a href="/"><img src="../static/images/t02.jpg"></a></span>留守儿童家庭条件艰苦，很多家庭无法承担孩子的学业，只要些许的奖学金就能支撑孩子们完成学业，实现他们的读书梦。。。</p>
							<a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime"><span>08-08</span> <span>2017</span></time>
						<div class="cbp_tmicon"></div>
						<div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s" data-scroll-reveal-id="5" style="-webkit-transform: translatex(24px);transform: translatex(24px);opacity: 0;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
							<h2>项目三：给留守儿童一顿午饭</h2>
							<p><span class="blogpic"><a href="/"><img src="../static/images/t01.jpg"></a></span>孩子们平时的午饭缺乏营养，为留守儿童捐献一顿午餐，让他们能够补充营养，您的举手之劳将为他们弱小的身躯注入能量。。。</p>
							<a href="/" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
						</div>
					</li>
				</ul>
			</div>
			<h3 style="text-align:center;">留言板</h3>
			<div class="messageboard pre-scrollable">

				<div class="wrap">
					<div class="comment">
						<div class="head-face">
							<img src="../static/img/girl.png" />
							<p>我是小航</p>
						</div>
						<div class="content">
							<div class="cont-box">
								<textarea class="text" placeholder="请输入..."></textarea>
							</div>
							<div class="tools-box">
								<div class="operator-box-btn"><span class="face-icon">☺</span><span class="img-icon">▧</span></div>
								<div class="submit-btn"><input id="submitbutton" type="button" value="提交留言" /></div>
							</div>
						</div>
					</div>
					<div id="info-show">
						<ul>
							<li>
								<div class="head-face">
									<img src="../static/images/girl.jpg" />
								</div>
								<div class="reply-cont" style="z-index: 1;">
									<span class="username">小翔</span>

									<p class="comment-body">我很喜欢你的项目，请继续加油(oﾟ▽ﾟ)o </p>

									<p class="comment-footer">2016年10月5日　回复　点赞54　转发12</p>
								</div>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<h4 style="margin-left: 5%;">相关人物&nbsp;:</h4>
			<div class="relative">
				<a href=""><img class="img-circle" src="../static/images/girl.jpg" /></a>
				<a href=""><img class="img-circle" src="../static/images/s1.jpg" /></a>
				<a href=""><img class="img-circle" src="../static/img/teacher/teacher_01.jpg" /></a>
			</div>
		</div>
		<div class="box2"  >
			<div class="last">
				<div class="left-box">
					<h2>关于我们</h2>
					<p>网站首页 意见反馈</p>
					<p>视频投稿 内容招募</p>
					<p>讲师招聘 联系我们</p>
				</div>
				<div class="middle-box" >
					<h2><img  width="20px" height="20px"  src="../static/img/logo.png"/>成长加油站</h2>
					<p>孩子们在线学习的任意门，</p>
					<p>让成长在快乐中补充能量，</p>
					<p>帮助孩子实现梦想！</p>
				</div>
				<div class="right-box">
					<h2>关注我们</h2>
					<div class="top-picture">
						<!--<img src="img/weixin.png" width="20px" height="20px" />--></div>
					<div class="bottom-picture">
						<!--<img src="img/blog.png" width="20px" height="20px" />--></div>
				</div>
			<p class="end">Copyright@2016v.tyut.edu.cn.ALL Rights Reserved</p>
			</div>
			
		</div>
		
	</body>
	<script>
function loadXMLDoc()
{
	var xmlhttp;
	if (window.XMLHttpRequest)
	{
		//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
		xmlhttp=new XMLHttpRequest();
	}
	else
	{
		// IE6, IE5 浏览器执行代码
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			document.getElementById("intro_text").innerHTML=xmlhttp.responseText;
		}
	}
	xmlhttp.open("GET","ajax_info.txt",true);
	xmlhttp.send();
}
</script>
	<script type="text/javascript">
		$(function() {

			var speed = 800; //滚动速度

			var h = document.body.clientHeight * 0.66;

			//回到底部

			var windowHeight = parseInt($("body").css("height")); //整个页面的高度

			$("#liuyan").click(function() {

				//alert(h);

				$('html,body').animate({

						scrollTop: h + 'px'

					},

					speed);

			});

		});
	</script>

	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript" src="../static/js/sinaFaceAndEffec.js"></script>
	<script src="../static/js/initiator.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/js/jquery.scrollUp.min.js" type="text/javascript" charset="utf-8"></script>

</html>